<div class="list-container">
  <div class="list-panel">
    <mat-grid-list
      class="list-container"
      [cols]="breakpoint"
      gutterSize="2"
      rowHeight="1:1"
      (window:resize)="onResize($event)"
      *ngIf="data.length > 0"
    >
      <mat-grid-tile
        *ngFor="
          let item of data
            | slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize
        "
      >
        <app-card
          [item]="item"
          (fetchFavorite)="getFavoritesByUserId()"
        ></app-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="list-paginator">
    <mat-paginator
      *ngIf="data.length > 0"
      [pageSizeOptions]="[4, 8, 16]"
      [pageSize]="pageSize"
      [length]="data.length"
      (page)="page = $event.pageIndex + 1; pageSize = $event.pageSize"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>

<div *ngIf="data.length == 0" class="modal-content">
  <img src="./../../../../assets/images/no-data.svg" class="modal-image"/>
</div>
