@import "./../../../variables.scss";

.list-container {
  overflow: auto;

  .list-panel {
    max-height: calc(84vh - 40px);
  }

  .list-paginator {
    position: absolute;
    bottom: 0;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: $gray-color;
    mat-paginator {
      background-color: $gray-color !important;
    }
  }
}

$mobile-breakpoint: 600px;

.modal-content {
  .modal-image {
    width: 250px;
    height: 250px;
  }
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: #{$mobile-breakpoint}) {
    width: 99vw;
    height: 80vh;
    .modal-image {
      width: unset;
      height: unset;
    }
  }
}
