.list-container {
  //max-height: calc(90vh - 40px); // or height:calc(100vh - 155px); depending on your need  change
  overflow: auto;

  .list-panel {
    max-height: calc(84vh - 40px);
  }

  .list-paginator {
    position: absolute;
    bottom: 0;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: #ebe9e9;
    mat-paginator {
      // color: #fff;
      background-color: #ebe9e9 !important;
    }
  }
}

.modal-content {
  width: 99vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
