<mat-card class="card" appMaterialElevation>
  <mat-card-header class="header">
    <div class="title-group">
      <mat-card-title>{{ item.name | titlecase }}</mat-card-title>
      <span class="fill"></span>
      <mat-icon
        (click)="toggleFavorite()"
        [style.color]="item.isFavorite ? 'red' : 'gray'"
        >favorite</mat-icon
      >
    </div>
  </mat-card-header>
  <mat-card-content class="card-content">
    <img width="180" height="180" [src]="item.gifUrl" alt="" />
  </mat-card-content>
  <mat-card-actions>
    <div>
      <b>Required Equipments:</b> {{ item.equipment | titlecase }} <br>

      <b>Target:</b> {{ item.target | titlecase }}
    </div>
  </mat-card-actions>
</mat-card>
