.card {
  width: 370px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title-group {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.card-content {
  display: flex;
  justify-content: center;
}
