<router-outlet *ngIf="!this.authService.isLoggedIn"></router-outlet>
<ng-container *ngIf="this.authService.isLoggedIn">
  <mat-toolbar color="primary">
    <img src="./../assets/images/logo/logo-white-no-background.png" height="250px" width="250px">
    <span class="fill"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>

 <mat-menu #menu="matMenu">
    <button mat-menu-item disabled>
      <mat-icon>email</mat-icon>{{ (authService.getUserData && authService.getUserData.email)|| 'Tom Green'}}</button>
    <button mat-menu-item (click)="authService.SignOut()">
      <mat-icon>logout</mat-icon>Logout</button>
  </mat-menu>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</ng-container>
