<div class="wrapper">
  <div class="logo">
    <img
      src="./../../../../assets/images/logo/logo-no-background.png"
      height="50px"
      width="250px"
    />
  </div>
  <mat-card class="mat-elevation-z6">
    <mat-card-header class="center">
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="authBlock">
        <form [formGroup]="signUpForm">
          <mat-form-field class="input-field" appearance="outline">
            <mat-label>Display Name</mat-label>
            <input
              matInput
              placeholder="Given name"
              formControlName="displayName"
              required
            />
            <mat-icon matSuffix>perm_identity</mat-icon>
            <mat-error
              *ngIf="
                signUpForm.controls['displayName'].invalid &&
                (signUpForm.controls['displayName'].dirty ||
                  signUpForm.controls['displayName'].touched)
              "
            >
              <span
                *ngIf="signUpForm.controls['displayName'].hasError('required')"
                >Display Name is required</span
              >
            </mat-error>
          </mat-form-field>

          <mat-form-field class="input-field" appearance="outline">
            <mat-label>Email-ID</mat-label>
            <input
              matInput
              placeholder="abc@example.com"
              formControlName="email"
              required
            />
            <mat-error
              *ngIf="
                signUpForm.controls['email'].invalid &&
                (signUpForm.controls['email'].dirty ||
                  signUpForm.controls['email'].touched)
              "
            >
              <span *ngIf="signUpForm.controls['email'].hasError('required')"
                >Email is required</span
              >
              <span *ngIf="signUpForm.controls['email'].hasError('email')"
                >Enter a valid email address</span
              >
            </mat-error>
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field class="input-field" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              placeholder=""
              formControlName="password"
              [type]="isHidden ? 'password' : 'text'"
              required
            />
            <button mat-icon-button matSuffix (click)="isHidden = !isHidden">
              <mat-icon matSuffix>{{
                isHidden ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
                signUpForm.controls['password'].invalid &&
                (signUpForm.controls['password'].dirty ||
                  signUpForm.controls['password'].touched)
              "
            >
              <span *ngIf="signUpForm.controls['password'].hasError('required')"
                >Password is required</span
              >
            </mat-error>
          </mat-form-field>

          <div class="formGroup center">
            <button
              mat-raised-button
              [disabled]="signUpForm.invalid"
              (click)="onSubmit()"
            >
              Sign Up
            </button>
          </div>

          <div class="formGroup">
            <span class="or"><span class="orInner">Or</span></span>
          </div>
        </form>

        <!-- Continue with Google -->
        <div class="formGroup center">
          <button
            mat-raised-button
            color="primary"
            (click)="authService.GoogleAuth()"
          >
            <i class="fab fa-google-plus-g"></i> Continue with Google
          </button>
        </div>
      </div>
      <div class="center cursor">
        <span
          >Already have an account?
          <a mat-button-flat class="redirect" href="/signin">Sign In</a>
        </span>
      </div>
    </mat-card-content>
    <mat-card-actions> </mat-card-actions>
  </mat-card>
</div>

<div class="modal-content">
  <img src="./../../../../assets/images/signup.svg" />
</div>
