mat-card {
  width: 500px;
}

.wrapper {
  width: 500px;
  height: 400px;
  top: 40%;
  left: 50%;
  position: absolute;
  margin-top: -200px;
  margin-left: -250px;
}


.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 70px;
}


.modal-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: end;
}
