
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
@import "./variables.scss";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 95%;
}
body {
  margin: 0;
  font-family: $font-stack;
}

.formGroup {
  margin-bottom: 20px;
  float: left;
  width: 100%;
}

.or {
  text-align: center;
  display: block;
  color: $or-line-color;
  background: $white-color;
  position: relative;
  margin: 5px 0 0px;
}

.orInner {
  background: $white-color;
  display: inline-block;
  z-index: 4;
  position: relative;
  padding: 0 12px;
}

.or:before {
  position: absolute;
  content: "";
  left: 0;
  top: 11px;
  width: 100%;
  height: 1px;
  background: $gray-color;
}

.redirect {
  cursor: pointer;
  color: $black-color;
  text-decoration: underline;
}

.authBlock {
  margin: 0 auto;
  max-width: 400px;
  background: $white-color;
  padding: 30px 40px 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


// auth styling

mat-card {
  width: 500px;
}

.wrapper {
  width: 500px;
  height: 400px;
  top: 40%;
  left: 50%;
  position: absolute;
  margin-top: -200px;
  margin-left: -250px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 70px;
}

.input-field {
  display: unset;
}

$mobile-breakpoint: 600px;

.modal-content {
  display: none;
  @media (min-width: #{$mobile-breakpoint}) {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: end;
  }
}
