<div class="wrapper">
  <div class="logo">
    <img
      src="./../../../../assets/images/logo/logo-no-background.png"
      height="50px"
      width="250px"
    />
  </div>
  <mat-card class="mat-elevation-z6">
    <mat-card-header class="center">
      <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="authBlock">
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="input-field" appearance="outline">
            <mat-label>Email-ID</mat-label>
            <input
              matInput
              placeholder="abc@example.com"
              formControlName="email"
              required
            />
            <mat-icon matSuffix>email</mat-icon>
            <mat-error
              *ngIf="
                signInForm.controls['email'].invalid &&
                (signInForm.controls['email'].dirty ||
                  signInForm.controls['email'].touched)
              "
            >
              <span *ngIf="signInForm.controls['email'].hasError('required')"
                >Email is required</span
              >
              <span *ngIf="signInForm.controls['email'].hasError('email')"
                >Enter a valid email address</span
              >
            </mat-error>
          </mat-form-field>

          <mat-form-field class="input-field" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              placeholder=""
              formControlName="password"
              [type]="hide ? 'password' : 'text'"
              required
            />
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon matSuffix>{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
                signInForm.controls['password'].invalid &&
                (signInForm.controls['password'].dirty ||
                  signInForm.controls['password'].touched)
              "
            >
              <span *ngIf="signInForm.controls['password'].hasError('required')"
                >Password is required</span
              >
            </mat-error>
          </mat-form-field>

          <!-- Calling SignIn Api from AuthService -->
          <div class="formGroup center">
            <button
              mat-raised-button
              [disabled]="signInForm.invalid"
              type="submit"
            >
              Sign In
            </button>
          </div>
        </form>
        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>

        <!-- Calling GoogleAuth Api from AuthService -->
        <div class="formGroup center">
          <button
            mat-raised-button
            color="primary"
            (click)="authService.GoogleAuth()"
          >
            <i class="fab fa-google-plus-g"></i> Sign in with Google
          </button>
        </div>

        <div class="formGroup center cursor">
          <span
            >Don't have an account?
            <!-- <a mat-button-flat class="redirect" (click)="navigateTo('signup')">Sign Up</a> -->
            <a mat-button-flat class="redirect" href="/signup">Sign Up</a>
          </span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions> </mat-card-actions>
  </mat-card>
</div>

<div class="modal-content">
  <img src="./../../../../assets/images/signin.svg" />
</div>
