<div class="wrapper">
  <div class="logo">
    <img src="./../../../../assets/images/logo/logo-no-background.png" height="50px" width="250px">
  </div>
  <mat-card class="mat-elevation-z6">
    <mat-card-header class="center">
      <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="authBlock">
        <div class="formGroup">
          <input
            type="text"
            class="formControl"
            placeholder="Email-ID"
            #userName
            required
          />
        </div>

        <div class="formGroup">
          <input
            type="password"
            class="formControl"
            placeholder="Password"
            #userPassword
            required
          />
        </div>

        <!-- Calling SignIn Api from AuthService -->
        <div class="formGroup center">
          <button
            mat-raised-button
            (click)="authService.SignIn(userName.value, userPassword.value)"
          >
            Log in
          </button>
        </div>

        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>

        <!-- Calling GoogleAuth Api from AuthService -->
        <div class="formGroup center">
          <button
            mat-raised-button
            color="primary"
            (click)="authService.GoogleAuth()"
          >
            <i class="fab fa-google-plus-g"></i> Sign in with Google
          </button>
        </div>

        <div class="formGroup center cursor">
          <span
            >Don't have an account?<span class="redirect" routerLink="/signup">
              Sign Up</span
            ></span
          >
        </div>


      </div>
    </mat-card-content>
    <mat-card-actions> </mat-card-actions>
  </mat-card>
</div>

<div class="modal-content">
  <img src="./../../../../assets/images/signin.svg" >
</div>
